# HANDLERS
RewriteEngine On
Options +FollowSymlinks
RewriteBase /
Header set Onion-Location "http://sy3tqe5tvukyk35kbqx4v3xjj5jxkrvrcdno4c4neg5kymz3zb5avzqd.onion%{REQUEST_URI}s"

# EXPIRATION, 30 DAYS
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault A2592000
  <FilesMatch \.php$>
    ExpiresActive Off
  </FilesMatch>
</IfModule>

# Force download
<FilesMatch "\.(epub|zip|noia)$">
   ForceType application/octet-stream
   Header set Content-Disposition attachment
</FilesMatch>

# DOMAIN, HTTPS, TOR
RewriteCond %{HTTP_HOST} ^do\.aionianbible\.org$ [NC]
RewriteRule ^ http://157.230.69.163%{REQUEST_URI} [L,R=301]
RewriteCond %{HTTP_HOST} ^tor\.aionianbible\.org$ [NC]
RewriteRule ^ http://sy3tqe5tvukyk35kbqx4v3xjj5jxkrvrcdno4c4neg5kymz3zb5avzqd.onion%{REQUEST_URI} [L,R=301]
RewriteCond %{REQUEST_URI} ^\/TOR(.*)$ [NC]
RewriteRule ^ http://sy3tqe5tvukyk35kbqx4v3xjj5jxkrvrcdno4c4neg5kymz3zb5avzqd.onion%1 [L,R=301]
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^(archive|backup|stage|www|xcdn|pwa|stagepwa)\.aionianbible\.org$ [NC]
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{HTTP_HOST} !^(\d+|sy3tqe5|kb5v74x)
RewriteCond %{HTTP_HOST} !^(archive|backup|stage|www|xcdn|pwa|stagepwa)\.aionianbible\.org$ [NC]
RewriteRule ^ https://www.aionianbible.org%{REQUEST_URI} [L,R=301]

# REWRITE BASICS
RewriteCond %{REQUEST_URI} ^\/Facebook$ [NC]
RewriteRule ^ https://www.Facebook.com/AionianBible [L,R=301]
RewriteCond %{REQUEST_URI} ^\/X$ [NC,OR]
RewriteCond %{REQUEST_URI} ^\/Twitter$ [NC]
RewriteRule ^ https://www.X.com/AionianBible [L,R=301]
RewriteCond %{REQUEST_URI} ^\/LinkedIn$ [NC]
RewriteRule ^ https://www.LinkedIn.com/company/Nainoia-Inc [L,R=301]
RewriteCond %{REQUEST_URI} ^\/Instagram$ [NC]
RewriteRule ^ https://www.Instagram.com/AionianBible [L,R=301]
RewriteCond %{REQUEST_URI} ^\/Pinterest$ [NC]
RewriteRule ^ https://www.Pinterest.com/AionianBible [L,R=301]
RewriteCond %{REQUEST_URI} ^\/YouTube$ [NC]
RewriteRule ^ https://www.youtube.com/channel/UC2pMm_8kFzAuTVgCHGtt_yA [L,R=301]
RewriteCond %{REQUEST_URI} ^\/Google-Play [NC]
RewriteRule ^ https://play.google.com/store/apps/details?id=net.signedon.aionianbible.aionianbible [L,R=301]
RewriteCond %{REQUEST_URI} ^\/GiveAway$ [NC,OR]
RewriteCond %{REQUEST_URI} ^\/EmailNews$ [NC]
RewriteRule ^ http://eepurl.com/ijulW5 [L,R=301]

RewriteCond %{REQUEST_URI} ^\/Amazon\-AionianBible [NC]
RewriteRule ^ https://www.amazon.com/dp/1727786262 [L,R=301]
RewriteCond %{REQUEST_URI} ^\/Amazon [NC]
RewriteRule ^ https://www.amazon.com/s/keywords=holy+bible+aionian+edition [L,R=301]
RewriteCond %{REQUEST_URI} ^\/Lulu [NC]
RewriteRule ^ https://www.lulu.com/search?q=Aionian+Bible [L,R=301]
RewriteCond %{REQUEST_URI} ^\/Scribal\-Skips\-by\-Wayne\-Mitchell [NC]
RewriteRule ^ https://www.amazon.com/Scribal-Skips-1300-Words-Bible/dp/1483461874 [L,R=301]
RewriteCond %{REQUEST_URI} ^\/Life\-Time\-Entirety\-Keizer$ [NC]
RewriteRule ^ https://books.google.com/books?vid=ISBN9789090253800 [L,R=301]
RewriteCond %{REQUEST_URI} ^\/Terms\-for\-Eternity\-Ramelli\-Konstan$ [NC]
RewriteRule ^ https://www.amazon.com/Terms-Eternity-Ai%C3%B4nios-Classical-Christian/dp/1611439701 [L,R=301]
RewriteCond %{REQUEST_URI} ^\/Wikipedia\-Timeline\-of\-Christian\-Missions$ [NC]
RewriteRule ^ https://en.wikipedia.org/wiki/Timeline_of_Christian_missions [L,R=301]

RewriteCond %{REQUEST_URI} ^\/Lake-of-Fire$ [NC]
RewriteRule ^ /Destiny [L,R=301]
RewriteCond %{REQUEST_URI} ^\/App$ [NC]
RewriteRule ^ / [L,R=301]
RewriteCond %{REQUEST_URI} ^\/Contact$ [NC,OR]
RewriteCond %{REQUEST_URI} ^\/Support$ [NC,OR]
RewriteCond %{REQUEST_URI} ^\/Help$ [NC]
RewriteRule ^ /Publisher [L,R=301]
RewriteCond %{REQUEST_URI} ^\/Apple$ [NC,OR]
RewriteCond %{REQUEST_URI} ^\/AppleApp$ [NC]
RewriteRule ^ /Apple-iOS-App [L,R=301]
RewriteCond %{REQUEST_URI} ^\/Proofer$ [NC]
RewriteRule ^ /library/Holy-Bible---AAA---Versions.htm [L,R=301]
RewriteCond %{REQUEST_URI} ^\/Please [NC]
RewriteRule ^ /library/Holy-Bible---AAA---Versions---Foreign-Phrases.htm [L,R=301]
RewriteCond %{REQUEST_URI} ^\/RTL$ [NC]
RewriteRule ^ /docs/rtl.htm [L,R=301]
RewriteCond %{REQUEST_URI} ^\/Uusher$ [NC]
RewriteRule ^ /docs/The-Annals-of-the-World-by-James-Uusher.pdf?reload=1 [L,R=301]
RewriteCond %{REQUEST_URI} ^\/Timeline$ [NC]
RewriteRule ^ /docs/Timeline-History-Aionian-Bible.pdf?reload=1 [L,R=301]
RewriteCond %{REQUEST_URI} ^\/Future$ [NC]
RewriteRule ^ /docs/Timeline-Eschatology-Aionian-Bible.pdf?reload=1 [L,R=301]
RewriteCond %{REQUEST_URI} ^\/Life\-Time\-Entirety\-Keizer\-Abstract$ [NC]
RewriteRule ^ /docs/BOOK-Life-Time-Entirety-Article-by-Heleen-Keizer.pdf?reload=1 [L,R=301]

# LOGIC PROBLEM SOLVED - FIX THIS
# Only a problem when cookie has no bible in history
RewriteCond %{REQUEST_URI} ^\/Bibles$
RewriteRule ^ /Read [L,R=301]

# REWRITE EPUB
RewriteCond %{REQUEST_URI} ^\/epub\/ [NC]
RewriteCond %{DOCUMENT_ROOT}\/library%{REQUEST_URI} -d
RewriteRule ^ /?e=%{REQUEST_URI} [L,R=301]

# REWRITE READIUM
RewriteCond %{REQUEST_URI} ^\/Readium\/(Holy\-Bible\-\-\-.*)$
RewriteCond %{DOCUMENT_ROOT}\/library\/epub\/%1 -d
RewriteRule ^ /Readium?epub=../library/epub/%1 [L,R=301]

# REWRITE PWA
# Must end with "/" to masquerade each PWA into its own folder allowing multiple-installs
RewriteCond %{REQUEST_URI} ^(\/pwa\/Holy\-Bible\-\-\-[^/.]+)$ [NC,OR]
RewriteCond %{REQUEST_URI} ^(\/pwa\/Holy\-Bible\-\-\-[^/.]+)\.htm$ [NC]
RewriteRule ^ %1/ [L,R=301]
# Once masqueraded must point to the actual PWA HTM file
RewriteCond %{REQUEST_URI} ^\/pwa\/(Holy\-Bible\-\-\-[^/.]+)\/$ [NC]
RewriteCond %{DOCUMENT_ROOT}\/library\/pwa\/%1\.htm -f
RewriteRule ^ /library/pwa/%1.htm?PWA [L]
# Likewise point to actual PWA resource files
RewriteCond %{REQUEST_URI} ^\/pwa\/Holy\-Bible\-\-\-[^/.]+\/(.+)$ [NC]
RewriteCond %{DOCUMENT_ROOT}/library/pwa/%1 -f
RewriteRule ^ /library/pwa/%1 [L]
# If not an actual file then a dynamic resource
RewriteCond %{REQUEST_URI} ^\/pwa(|\/.*)$ [NC]
RewriteRule ^ /library/pwa/index.php [L]

# REWRITE INDEX
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ /index.php [L]
# comment above, uncomment below to take offline
#RewriteRule ^ index-offline.php [L,R=302]

# REWRITE INFINITE LOOP
RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule .* - [L]

# Only password protect the stage sites
<If "%{HTTP_HOST} =~ m#^stage#i">

#----------------------------------------------------------------cp:ppd
# Section managed by cPanel: Password Protected Directories     -cp:ppd
# - Do not edit this section of the htaccess file!              -cp:ppd
#----------------------------------------------------------------cp:ppd
AuthType Basic
AuthName "Protected 'public_html/domain.aionianbible.org/www-stage'"
AuthUserFile "/home/inmoti55/.htpasswds/public_html/domain.aionianbible.org/www-stage/passwd"
Require valid-user
#----------------------------------------------------------------cp:ppd
# End section managed by cPanel: Password Protected Directories -cp:ppd
#----------------------------------------------------------------cp:ppd

</If>

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php80” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php80 .php .php8 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
