/* Coptic */
@font-face {
	font-family:
		'NotoSans';
	src:
		url('../fonts/notosans-basic-regular.woff2')	format('woff2'),
		url('../fonts/notosans-basic-regular.woff')		format('woff'),
		url('../fonts/notosans-basic-regular.ttf')		format('truetype');
}
@font-face {
	font-family:
		'GentiumPlus';
	src:
		url('../fonts/gentiumplus-r.woff2')	format('woff2'),
		url('../fonts/gentiumplus-r.woff')	format('woff'),
		url('../fonts/gentiumplus-r.ttf')	format('truetype');
}
@font-face {
	font-family:
		'font-coptic';
	src:
		url('../fonts/newathu5_5.woff2')	format('woff2'),
		url('../fonts/newathu5_5.woff')		format('woff'),
		url('../fonts/newathu5_5.ttf')		format('truetype');
}
span.font-coptic { font-family: 'font-coptic', 'NotoSans', 'Arial', 'sans-serif', 'GentiumPlus'; }
