/* Gujarati */
@font-face {
	font-family:
		'NotoSans';
	src:
		url('../fonts/notosans-basic-regular.woff2')	format('woff2'),
		url('../fonts/notosans-basic-regular.woff')		format('woff'),
		url('../fonts/notosans-basic-regular.ttf')		format('truetype');
}
@font-face {
	font-family:
		'GentiumPlus';
	src:
		url('../fonts/gentiumplus-r.woff2')	format('woff2'),
		url('../fonts/gentiumplus-r.woff')	format('woff'),
		url('../fonts/gentiumplus-r.ttf')	format('truetype');
}
@font-face {
	font-family:
		'font-gujarati';
	src:
		url('../fonts/notoserifgujarati-regular.woff2')		format('woff2'),
		url('../fonts/notoserifgujarati-regular.woff')		format('woff'),
		url('../fonts/notoserifgujarati-regular.ttf')		format('truetype');
}
span.font-gujarati { font-family: 'font-gujarati', 'NotoSans', 'Arial', 'sans-serif', 'GentiumPlus'; }
