/* Bengali */
@font-face {
	font-family:
		'NotoSans';
	src:
		url('../fonts/notosans-basic-regular.woff2')	format('woff2'),
		url('../fonts/notosans-basic-regular.woff')		format('woff'),
		url('../fonts/notosans-basic-regular.ttf')		format('truetype');
}
@font-face {
	font-family:
		'GentiumPlus';
	src:
		url('../fonts/gentiumplus-r.woff2')	format('woff2'),
		url('../fonts/gentiumplus-r.woff')	format('woff'),
		url('../fonts/gentiumplus-r.ttf')	format('truetype');
}
@font-face {
	font-family:
		'font-bengali';
	src:
		url('../fonts/solaimanlipi.woff2')	format('woff2'),
		url('../fonts/solaimanlipi.woff')	format('woff'),
		url('../fonts/solaimanlipi.ttf')	format('truetype');
}
span.font-bengali { font-family: 'font-bengali', 'NotoSans', 'Arial', 'sans-serif', 'GentiumPlus'; }
