/* Oriya */
@font-face {
	font-family:
		'NotoSans';
	src:
		url('../fonts/notosans-basic-regular.woff2')	format('woff2'),
		url('../fonts/notosans-basic-regular.woff')		format('woff'),
		url('../fonts/notosans-basic-regular.ttf')		format('truetype');
}
@font-face {
	font-family:
		'GentiumPlus';
	src:
		url('../fonts/gentiumplus-r.woff2')	format('woff2'),
		url('../fonts/gentiumplus-r.woff')	format('woff'),
		url('../fonts/gentiumplus-r.ttf')	format('truetype');
}
@font-face {
	font-family:
		'font-oriya';
	src:
		url('../fonts/notosansoriyaui-regular.woff2')	format('woff2'),
		url('../fonts/notosansoriyaui-regular.woff')	format('woff'),
		url('../fonts/notosansoriyaui-regular.ttf')		format('truetype');
}
span.font-oriya { font-family: 'font-oriya', 'NotoSans', 'Arial', 'sans-serif', 'GentiumPlus'; }
