/* Sanskrit Telugu */
@font-face {
	font-family:
		'NotoSans';
	src:
		url('../fonts/notosans-basic-regular.woff2')	format('woff2'),
		url('../fonts/notosans-basic-regular.woff')		format('woff'),
		url('../fonts/notosans-basic-regular.ttf')		format('truetype');
}
@font-face {
	font-family:
		'GentiumPlus';
	src:
		url('../fonts/gentiumplus-r.woff2')	format('woff2'),
		url('../fonts/gentiumplus-r.woff')	format('woff'),
		url('../fonts/gentiumplus-r.ttf')	format('truetype');
}
@font-face {
	font-family:
		'font-telugu';
	src:
		url('../fonts/notoseriftelugu-regular.woff2')	format('woff2'),
		url('../fonts/notoseriftelugu-regular.woff')	format('woff'),
		url('../fonts/notoseriftelugu-regular.ttf')		format('truetype');
}
span.font-telugu { font-family: 'font-telugu', 'NotoSans', 'Arial', 'sans-serif', 'GentiumPlus'; }
