/* BabelStoneHan */
@font-face {
	font-family:
		'NotoSans';
	src:
		url('../fonts/notosans-basic-regular.woff2')	format('woff2'),
		url('../fonts/notosans-basic-regular.woff')		format('woff'),
		url('../fonts/notosans-basic-regular.ttf')		format('truetype');
}
@font-face {
	font-family:
		'GentiumPlus';
	src:
		url('../fonts/gentiumplus-r.woff2')	format('woff2'),
		url('../fonts/gentiumplus-r.woff')	format('woff'),
		url('../fonts/gentiumplus-r.ttf')	format('truetype');
}
@font-face {
	font-family:
		'font-babelstonehan';
	src:
		url('../fonts/babelstonehan.woff2')	format('woff2'),
		url('../fonts/babelstonehan.woff')	format('woff'),
		url('../fonts/babelstonehan.ttf')	format('truetype');
}
span.font-babelstonehan { font-family: 'font-babelstonehan', 'NotoSans', 'Arial', 'sans-serif', 'GentiumPlus'; }
