/* Sanskrit Tibetan */
@font-face {
	font-family:
		'NotoSans';
	src:
		url('../fonts/notosans-basic-regular.woff2')	format('woff2'),
		url('../fonts/notosans-basic-regular.woff')		format('woff'),
		url('../fonts/notosans-basic-regular.ttf')		format('truetype');
}
@font-face {
	font-family:
		'GentiumPlus';
	src:
		url('../fonts/gentiumplus-r.woff2')	format('woff2'),
		url('../fonts/gentiumplus-r.woff')	format('woff'),
		url('../fonts/gentiumplus-r.ttf')	format('truetype');
}
@font-face {
	font-family:
		'font-tibetan';
	src:
		url('../fonts/notoserifthai_semicondensed.woff2')	format('woff2'),
		url('../fonts/notoserifthai_semicondensed.woff')	format('woff'),
		url('../fonts/notoserifthai_semicondensed.ttf')		format('truetype');
}
span.font-tibetan { font-family: 'font-tibetan', 'NotoSans', 'Arial', 'sans-serif', 'GentiumPlus'; }
